.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid #333;
    background-color: white;
  }
  
  .choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #333;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  .choice-prefix {
    padding: 0.5rem 1.5rem;
    background-color: #f0d91d;
    color: white;
  }
  
  .choice-text {
    padding: 0.5rem;
    width: 100%;
  }
  
  .correct {
    background-color: #28a745;
  }
  
  .incorrect {
    background-color: #dc3545;
  }
  
  /* HUD */
  
  #hud {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2rem solid #333;
  }
  
  .hud-prefix {
    text-align: center;
    font-size: 2rem;
  }
  
  .hud-main-text {
    text-align: center;
  }
  
  #progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #f0d91d;
    margin-top: 1.5rem;
  }
  
  #progressBarFull {
    height: 3.4rem;
    background-color: #f0d91d;
    width: 0%;
  }

  #code {
      border: 0.5em solid #333;
      height: 20rem;
      background: #333;
      margin-bottom: 1rem;
      color: white;
      font-size: 2rem;
  }